<div class="container-fluid mt-4">
    <h3>Users List</h3>
    <div class="row">
        <div class="col-md-12 float-left">
            <div class="list-row">
              <div class="col-md-12">
                <span class="title">Doctor</span>
                <button type="button" routerLink="/add-doctor" class="btn btn-secondary float-right mb-3">Add Doctor</button>
              </div>
              <div class="full-width">
                  <table class="table">
                      <thead class="thead-dark">
                          <tr>
                            <th>Doctor ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact Number</th>
                            <th>Address</th>
                          </tr>  
                      </thead>
                      <tbody>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                  </table>
              </div>
            </div>
            <div class="list-row">
                <div class="col-md-12">
                  <span class="title">Patient</span>
                  <button type="button" routerLink="/add-patient" class="btn btn-secondary float-right mb-3">Add Patient</button>
                </div>
                <div class="full-width">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                              <th>Patient ID</th>
                              <th>Name</th>
                              <th>Email</th>
                              <th>Contact Number</th>
                              <th>Address</th>
                            </tr>  
                        </thead>
                        <tbody>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
              </div>
        </div>
        <div class="col-md-12 floar-right">
            <h3>Get the Doctor Details</h3>
            <form>
                <div class="form-group">
                  <div class="col-md-10 float-left">
                    <input type="id" class="form-control" id="id" placeholder="Enter Inforamation">
                  </div>
                  <div class="col-md-2 float-right">
                    <button type="submit" class="btn btn-primary float-right">Get Doctor Info</button>
                  </div>  
                </div>
            </form>
        </div>
    </div>
</div>
