<div class="container mt-3">
    <form>
        <h2>Add Patient</h2>
        <div class="form-group">
          <label for="id">Patient ID</label>
          <input type="id" class="form-control" id="id" placeholder="Enter Patient Id">
        </div>
        <div class="form-group">
          <label for="name">Patient Name</label>
          <input type="name" class="form-control" id="name" placeholder="Enter Patient Name">
        </div>
        
        <div class="form-group">
          <label for="email">Patient Email</label>
          <input type="email" class="form-control" id="email" placeholder="Enter Patient Email">
        </div>
        <div class="form-group">
          <label for="contact">Patient Contact Number</label>
          <input type="contact" class="form-control" id="contact" placeholder="Enter Patient Contact Number">
        </div>
        <div class="form-group">
            <label for="address">Patient Address</label>
            <input type="address" class="form-control" id="address" placeholder="Enter Patient Address">
          </div>
        <button type="submit" class="btn btn-primary float-right">Submit</button>
      </form>
</div>